* {
  box-sizing: border-box;
  font-family: "Meiryo", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #9370DB, #DDA0DD);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== 全体カード ===== */
.container {
  width: 560px;
  background: white;
  border-radius: 24px;
  padding: 24px;
  box-shadow: 0 16px 40px rgba(0,0,0,0.15);
}

/* ===== タイトル ===== */
h1 {
  margin: 0 0 16px;
  text-align: center;
  color: #483D8B;
}

/* ===== 入力エリア ===== */
.input-area {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

/* 入力欄 */
#memoInput {
  flex: 1;
  padding: 10px 14px;
  font-size: 14px;
  border-radius: 12px;
  border: 2px solid #dcdcff;
  outline: none;
}

#memoInput::placeholder {
  color: #999;
}

/* 記録ボタン */
#addBtn {
  padding: 0 20px;
  border: none;
  border-radius: 12px;
  background: #6c63ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* ===== リスト ===== */
#list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 記録1件 */
#list li {
  background: #f3f2ff;
  padding: 12px 16px;
  border-radius: 14px;
  margin-bottom: 10px;
  font-size: 14px;
}

/* ===== 記録リスト全体 ===== */
#list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

/* ===== 1件の記録カード ===== */
.memo-item {
  position: relative;
  background: #f3efff;
  border-radius: 12px;
  padding: 12px 50px 28px 14px;
  margin-bottom: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

/* 記録テキスト */
.memo-item p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

/* ===== 日付（左下・薄く） ===== */
.memo-date {
  display: block;
  font-size: 11px;
  color: #888;
  margin-top: 6px;
}

/* =====削除ボタン　===== */
.delete-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background: #6c63ff;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #DC143C;
}
